@using ShoppingApplication24.Models
@model List<Order>

<div class="box-header with-border">
    <h3 class="box-title">Orders</h3>
</div>
<div class="box-body">
    <div>
        <table class="table table-bordered" border="1" rules="all" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Buyer</th>
                    <th>Date Time</th>
                    <th>Order Status</th>
                    <th>Order Action</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var order in Model)
                {
                    <tr>

                        <td>@order.Id</td>
                        <td>@order.Product.Title</td>
                        <td>@order.Buyer.Name</td>
                        <td>@order.DateTime</td>
                        <td>@order.OrderStatus.Name</td>
                        <td><a asp-controller="Admin" asp-action="ViewOrder" asp-route-id="@order.Id">View</a>
                            &nbsp;&nbsp; <a asp-controller="Admin" asp-action="CreateUpdateOrder" asp-route-id="@order.Id">Update</a>&nbsp;&nbsp;
                            <a asp-controller="Admin" asp-action="DeleteOrder" asp-route-id="@order.Id" onclick="return confirm('Are You Sure To Delete Product');">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<a target="_blank" asp-controller="Admin" asp-action="CreateUpdateOrder"><button>Add Order</button></a>